<div class="newMain">

    <% gif.forEach (data => { %>

    <section>
        <li>
            <div class="container">
                <form name="data" method="post" action="/save">
                    <input src='<%= data.url%>' alt="<%= data.title%>" class="image" type="image">
                    <input type="hidden" name="name" value="<%=employee%>">
                    <input type="hidden" name="data" value="<%=data.url%>">
                    <input type="hidden" name="keyword" value="<%=gifSearch%>">
                </form>
            </div>
        </li>

    </section>

    <% }); %>



</div>